<!-- <li><%= user.name %>(<%= user.type %>) 
    <form action="/promote/<%= user._id %>" method="post" class="d-inline">
        <button type="submit" class="btn btn-success" style="border-radius: 24px;" value="admin" <%= user.type="admin" ? "selected" : "" %> >Promote to admin</button>
    </form>
    <form action="/demote/<%= user._id %>" method="post" class="d-inline">
    <button class="btn btn-danger" style="border-radius: 24px;" value="user" <%= user.type="user" ? "selected" : "" %> >Demote to user</button>
</form>
</li><br> -->